.h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-family: 'Roboto', sans-serif;
}
  
.details-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
  
.col-left,
.col-right {
    flex: 1;
}
  
.col-right {
    padding: 20px;
}
  
.col-right p {
    font-size: 18px;
    color: #555;
}
  
.col-left img {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.section-title {
    text-decoration: underline;
    color: #333;
    margin-bottom: 20px;
}
  
.sub-section-title {
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
}
  
.example-containers {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    width: 1100px;
}
  
.example-container,
.example-container-r {
    flex: 1;
    margin-bottom: 20px;
}

.example-viewport-l {
    height: 750px;
    width: 505px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow-y: auto;
}
  

.example-viewport {
    height: 500px;
    width: 505px;
    background-color: #fafafa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow-y: auto;
}
  
.example-list,
.example-list-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
  
.example-list mat-card,
.example-list-2 mat-card {
    flex: 1 1 calc(48% - 16px);
    margin-bottom: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
  
.example-list mat-card:hover,
.example-list-2 mat-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
  
.example-header-image img {
    border-radius: 50%;
}
  
.empty-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
}
  
.large-icon {
    font-size: 56px;
    color: #ccc;
}
  
.empty-text {
    font-size: 16px;
    color: #999;
    margin-top: 10px;
}
  
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
  
.card-left {
    width: 100%;
}
  
.bordered-right {
    border-left: 1px dashed #ccc;
    padding-left: 20px;
}
