.mat-stepper-horizontal {
    margin-top: 8px;
}

.mat-mdc-form-field {
    margin-top: 16px;
}

.steps {
    width: 950px;
    height: 300px;
}

.contenu {
    width: 900px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ombre subtile */
    margin-top: 10px;
}

.spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.check {
    color: rgb(9, 255, 0);
    font-size: 30px;
}

.new_create {
    margin-top: 25px;
    background-color: rgb(9, 255, 0);
    padding: 20px;
    border-radius: 3px;
    width: 250px;
    color: white;
}

.next {
    background-color: rgb(9, 255, 0);
    padding: 20px;
    border-radius: 3px;
    width: 100px;
    color: white;
}
.prev {
    background-color: rgb(255, 42, 0);
    padding: 20px;
    border-radius: 3px;
    width: 100px;
    color: white;
}

/* ajout-assignment.component.css */
.toast-success {
    background-color: #4caf50; /* Green */
    color: white;
}

.toast-error {
    background-color: #f44336; /* Red */
    color: white;
}

/* Class for wider input fields */
.wide-input {
    width: 300px; /* Adjust as needed, e.g., 400px or 80% */
}

.mat-form-field {
    width: 300px; /* Ensures the field takes up the full width of its container */
}
