.custom-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Ajustement pour l'espacement équitable */
  gap: 10px; /* Espace entre les cartes */
}

.custom-card {
  flex: 0 1 calc(20% - 20px); /* calcule la largeur pour 5 cartes par ligne, en soustrayant le gap */
  height: 375px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
}


.custom-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px); /* Légère élévation au survol */
}



.mat-card-title, .mat-card-subtitle {
  text-align: center; /* Centrage du texte pour les titres */
}

.mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  background-color: #00889e;
}

@media (max-width: 1200px) {
  .custom-card {
    flex: 0 1 calc(25% - 20px); /* 4 cartes par ligne sur les écrans moyens */
  }
}

@media (max-width: 768px) {
  .custom-card {
    flex: 0 1 calc(33.33% - 20px); /* 3 cartes par ligne sur les écrans plus petits */
  }
}

@media (max-width: 480px) {
  .custom-card {
    flex: 0 1 calc(50% - 20px); /* 2 cartes par ligne sur les très petits écrans */
  }
}


.paginator-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Style global du dialogue */
.mat-dialog-container {
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-out forwards;
}

/* Animation de glissement */
@keyframes slideIn {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Titre du dialogue */
mat-dialog-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Contenu du dialogue */
mat-dialog-content {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

/* Boutons d'action dans le dialogue */
mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}


.rendre {
  background-color: #00889e; 
  color: white;
}

.rendu {
  background-color: #4CAF50; 
  color: white;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  opacity: 0.9; /* Effet léger au survol pour tous les boutons */
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


.custom-dialog-container .mat-dialog-container {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
