<h2>{{ titre_matiere }}</h2>
<div class="search-container">
  <input class="search-input" type="text" placeholder="Rechercher un devoir" [(ngModel)]="searchText" (input)="filtreDevoir()">
  <input class="search-input" type="date" [(ngModel)]="startDate" (change)="filtreDevoir()" placeholder="Date de début">
  <input class="search-input" type="date" [(ngModel)]="endDate" (change)="filtreDevoir()" placeholder="Date de fin">
</div>
<div *ngIf="resultat_filtre && resultat_filtre.length > 0; else noDevoirMessage">
  
  <div class="custom-card-container">
    <mat-card *ngFor="let devoir of resultat_filtre" class="custom-card">
      <mat-card-header>
       <img class="user-photo" [src]="URL_IMAGE + '/' + photo_matiere" alt="Photo de l'utilisateur" style="background-size: cover;
  background-position: center;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: transform 0.3s;">
        <mat-card-title>{{ devoir.nom }}</mat-card-title>
        <mat-card-subtitle>Date rendu : {{ devoir.dateDeRendu | date: 'dd MMMM yyyy' }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="./assets/img/devoir.png" width="150" height="150" alt="Photo d'un Shiba Inu">
      <mat-card-actions>
      <button mat-button 
        [ngClass]="{'rendre': !isDevoirRendu(devoir), 'rendu': isDevoirRendu(devoir)}" 
        (click)="handleClick(devoir)">
    {{ isDevoirRendu(devoir) ? 'Devoir rendu' : 'Rendre le devoir' }}
    <mat-icon *ngIf="isDevoirRendu(devoir)">check</mat-icon>
</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="paginator-container">
     <mat-paginator [length]="tot"
                 [pageSize]="limit"
                 [pageSizeOptions]="[20,50,100,500,1000,2000]"
                 (page)="handlePageEvent($event)"
                 aria-label="Select page">
  </mat-paginator>
  </div>
</div>

<ng-template #noDevoirMessage>
  <p>Aucun devoir pour le moment.</p>
</ng-template>
