<p>Listes devoir dans la matières: oracle</p>

<mat-card class="custom-card">
  <mat-card-header>
    <div mat-card-avatar class="custom-header-image"></div>
    <mat-card-title>TP 1</mat-card-title>
    <mat-card-subtitle>Date rendu: 20 Avril 2024</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="./assets/img/devoir.png" width="150" height="150" alt="Photo of a Shiba Inu">
  <mat-card-actions>
    <button mat-button color="primary">Faire devoir</button>
  </mat-card-actions>
</mat-card>
