<div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  
  <div *ngIf="!loading">
    <h1 class="h1">Création d'un nouveau devoir</h1>
  
    <div *ngIf="matiere" class="steps">
      <div class="contenu">
        <mat-stepper linear #stepper>
          <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
            <ng-template matStepLabel>Nom du devoir</ng-template>
            <form [formGroup]="firstFormGroup">
              <mat-form-field>
                <mat-label>Nom du devoir</mat-label>
                <input matInput formControlName="nom" placeholder="Nom du devoir" required>
              </mat-form-field>
              <div>
                <button mat-button matStepperNext class="next">Suivant</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
            <ng-template matStepLabel>Date de rendu</ng-template>
            <form [formGroup]="secondFormGroup">
              <mat-form-field>
                <mat-label>Date de rendu</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="dateDeRendu" placeholder="Date de rendu" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="secondFormGroup.get('dateDeRendu')?.hasError('invalidDate')">
                    La date de rendu doit être supérieure ou égale à aujourd'hui.
                  </mat-error>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious class="prev">Retour</button>
                  <button mat-button matStepperNext class="next" (click)="OnSubmit()">Suivant</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Terminé la création</ng-template>
              <p>Création d'un nouveau devoir, terminé. <mat-icon class="check">check</mat-icon></p>
              <div>
                <button mat-button (click)="stepper.reset()" class="new_create">Créer un nouveau</button>
              </div>
            </mat-step>
        </mat-stepper>
      </div>
    </div>
    
      <div *ngIf="!matiere" style="width: 900px;">
        <div style="background-color: rgb(255, 120, 120); color: white; text-align: center; padding: 50px; font-size: 20px;">
          <p>Veuillez d'abord ajouter une matière avant de créer un devoir.</p>
        </div>
      </div>
</div>
    