<div style="display: flex; flex-wrap: nowrap; justify-content: space-between;">
  <div *ngIf="loading" class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading && matiere; else newMatiere" class="matiere-info">
    <div class="new-matiere">
    <h2 class="h1">Ma matière</h2>
    <mat-card class="">
      <img mat-card-image [src]="URL_IMAGE + '/' + matiere.photo" alt="Couverture de la matière" width="420px">
      <mat-card-content>
        <div class="matiere-container">
          <h3 class="matiere-nom">{{matiere.nom}}</h3>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu bouton" class="menu-button">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item [routerLink]="['/modifier-matiere', matiere._id]">
            <mat-icon>edit</mat-icon>
            <span>Modifier</span>
          </button>
          <button mat-menu-item (click)="supprimerMatiere(matiere._id)">
            <mat-icon>delete</mat-icon>
            <span>Supprimer</span>
          </button>
        </mat-menu>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
  
  <ng-template #newMatiere>
    <div class="new-matiere">
      <h1 class="h1">Crée une nouvelle matière</h1>
      <mat-card class="user-card">
        <img class="user-photo" src="./assets/img/default_image_cours.jpg" alt="Photo de l'utilisateur">
        <form class="user-form" enctype="multipart/form-data">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label>Nom</mat-label>
            <input matInput [(ngModel)]="nom" name="nom" placeholder="Modifier le nom">
          </mat-form-field>
          <div class="file-upload">
            <label for="photo-input" class="file-label">
              <span>Choisir une photo</span>
              <input id="photo-input" type="file" (change)="handleFileInput($event)" name="photo" class="file-input">
            </label>
          </div>
          <button mat-flat-button color="primary" class="btn" (click)="OnSubmit()">
            Ajouter
          </button>
        </form>
      </mat-card>
    </div>
  </ng-template>

  <div class="devoir-info">
    <h2 style="text-align: center;">Information Devoir</h2>
    <div style="display: flex; justify-content: space-around;">
      <mat-card class="devoir-card total">
  <mat-card-header>
    <mat-card-title>Total</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>{{total_devoir}}</strong></p>
  </mat-card-content>
</mat-card>

<mat-card class="devoir-card total-rendu">
  <mat-card-header>
    <mat-card-title>Total rendu</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>{{total_devoir_rendu}}</strong></p>
  </mat-card-content>
</mat-card>

<mat-card class="devoir-card total-non-rendu">
  <mat-card-header>
    <mat-card-title>Total non rendu</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p><strong>{{total_non_rendu}}</strong></p>
  </mat-card-content>
</mat-card>

    </div>
  </div>
</div>
