
/* .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
} */

.h1{
    margin-top: 20px;
}

.example-card {
    max-width: 250px;
    /* margin: 0 auto; */
  }
  
  .matiere-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .matiere-nom {
    margin-right: 10px;
  }
  
  .menu-button {
    margin-left: auto;
  }
  

  .spinner-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }