<app-header (toggleDrawer)="toggleDrawer($event)"></app-header>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer [opened]="isDrawerOpen" class="example-sidenav" mode="side">
        <mat-nav-list *ngIf="role === 0">
            <button mat-button (click)="versMatiereProf()" class="mat-button-spacing">
                <mat-icon>books</mat-icon>
                <span>Ma matière</span>
            </button>
            
            <button mat-button [matMenuTriggerFor]="animalsMenu" class="mat-button-spacing">
                <mat-icon>assignment</mat-icon>
                <span>Les devoirs</span>
            </button>
            
            <mat-menu #animalsMenu="matMenu" class="custom-menu">
                <button mat-menu-item (click)="versNouveauDevoir()">Créer un nouveau devoir</button>
                <button mat-menu-item (click)="versMesDevoirs()">Mes devoirs</button>
                <button mat-menu-item (click)="versRenduProf()">Devoirs rendu par les élèves</button>
                <button mat-menu-item (click)="versNonRenduProf()">Devoirs non-rendu par les élèves</button>
            </mat-menu>

            <button mat-button [matMenuTriggerFor]="prof" class="mat-button-spacing">
                <mat-icon>person</mat-icon>
                <span>Professeurs</span>
            </button>
            
            <mat-menu #prof="matMenu" class="custom-menu">
                <button mat-menu-item (click)="versAjout()">Ajouter un nouveau professeur</button>
                <button mat-menu-item (click)="versLesProf()">Listes des professeurs</button>
            </mat-menu>
        </mat-nav-list>

        <mat-nav-list *ngIf="role === 1">
            <button mat-button (click)="versMatiereEleve()">
                <mat-icon>library_books</mat-icon>
                <span>Mes matières</span>
            </button>
            
            <button mat-button [matMenuTriggerFor]="animalsMenu">
                <mat-icon>assignment</mat-icon>
                <span>Mes devoirs</span>
            </button>
            
            <mat-menu #animalsMenu="matMenu" class="custom-menu">
                <button mat-menu-item (click)="versRenduEleve()">Devoirs rendu</button>
                <button mat-menu-item (click)="versNonRenduEleve()">Devoirs non-rendu</button>
            </mat-menu>
              
          </mat-nav-list>
          
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>

<app-footer></app-footer>




