

<div *ngIf="utilisateur">
  <mat-card class="user-card">
    <div class="user-info">
      <img class="user-photo" [src]="URL_IMAGE + '/' + utilisateur.photo" alt="Photo de l'utilisateur">
      <div class="user-details">
        <h2>{{utilisateur.nom}}</h2>
        <p>{{utilisateur.mail}}</p>
      </div>
    </div>
    <form class="user-form" enctype="multipart/form-data">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Nom</mat-label>
        <input matInput [(ngModel)]="nom" name="nom" placeholder="Modifier le nom">
      </mat-form-field>
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>E-mail</mat-label>
        <input matInput [(ngModel)]="mail" name="mail" placeholder="Modifier l'e-mail">
      </mat-form-field>
      <input type="file" (change)="handleFileInput($event)" name="photo">
      <button mat-flat-button color="primary" class="btn" (click)="OnSubmit()">
        Modifier
      </button>
    </form>
  </mat-card>
</div>
<div *ngIf="!utilisateur">
  <p>Aucun utilisateur trouvé</p>
</div>

