.user-card {
  width: 600px; /* Limite la largeur pour la lisibilité */
  margin: 50px auto; /* Centrage vertical et horizontal */
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #ffffff; /* Fond blanc pour la carte */
  transition: box-shadow 0.3s;
}

.user-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px; /* Espacement avant le formulaire */
}

.user-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px; /* Espacement entre la photo et les détails */
}

.user-details h2 {
  margin: 0;
  color: #333; /* Gris foncé pour le texte */
}

.user-details p {
  color: #666; /* Gris plus clair pour l'email */
  margin: 5px 0 0; /* Espacement au-dessus de l'email */
}

.user-form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 20px; /* Espacement entre les champs de formulaire */
}

.file-upload {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.file-label {
  background-color: #00889e; /* Bleu pour le bouton de chargement de fichier */
  color: white;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.file-label:hover {
  background-color: #006c7f; /* Assombrir le bouton au survol */
}

.file-input {
  display: none; /* Cache l'input type file */
}

#file-name {
  margin-left: 10px;
}

.btn {
  width: 100%;
  border: none;
  padding: 12px 24px;
  border-radius: 25px;
  background-color: #00889e;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #006c7f; /* Changement de couleur au survol */
}


