<div class="example-container">
  <h2>Devoirs non rendus</h2>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="liste_devoir_non_rendu"
    [cdkDropListConnectedTo]="[doneList]"
    [cdkDropListEnterPredicate]="noReturnPredicate" 
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let devoir of liste_devoir_non_rendu" class="example-box" cdkDrag>{{ devoir._id }} - {{ devoir.auteur.nom }}</div>
  </div>
</div>

<div class="example-container">
  <h2>Devoirs rendus</h2>
  <div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="liste_devoir_rendu"
    [cdkDropListConnectedTo]="[todoList]"
    class="example-list"
    (cdkDropListDropped)="drop($event)">
    <div *ngFor="let devoir of liste_devoir_rendu" class="example-box" cdkDrag>{{ devoir._id }}</div>
  </div>
</div>
